<div class="wrapper d-flex">
  <%= render '/dashboards/sidebar' %>
  <div class="container-fluid">
    <%= render '/dashboards/header' %>
    <div class="page-heading">
      <h3>Medications Overview</h3>
    </div>
  </div>
</div>
