// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// cards
$card-border: #DFE0EB;
$card-background: #DFE0EB;

// Sidebar Colors
$sidebar: #363740; //base colour
$sidebar-text:#7b7c88; // base text and icon color
$sidebar-btn-active:#3F4049; //active/hover btn color
$sidebar-text-active:#c1c2c9; //active/hover text color

