<div class="wrapper">
  <%= render '/dashboards/sidebar' %>
  <div class="container-fluid">
    <div class="main-content">
      <%= render '/dashboards/header' %>
      <%= render '/shared/admin/useroverviewcard' %>
    </div>
</div>
