

<!-- MAIN CONTENT -->
<div class="container m-0">

<!-- DRUG LIST (SCROLL) -->
  <div class="row">
    <div class="col-sm-9 p-0 scroll text-left">

      <h1>Hi!</h1>
    </div>

    <div class="col-sm-3 p-0 scroll text-left">
      <div class="m-0 border border-secondary p-3 ">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>
      <div class="m-0 border border-secondary p-3">
          <p class="m-0 font-weight-bold">DRUG NAME</p>
          <p class="m-0">(secondary name)</p>
      </div>

    </div>
  </div>

</div>


