<div class="w-100 d-flex justify-content-around border-top border-primary bg-light">
  <button type="button" class="btn btn-primary font-weight-bold btn-lg shadow p-3 mt-3 mb-4 rounded" style="width: 250px" data-toggle="modal" data-target=".bd-example-modal-lg">
    PATIENT AGE/WEIGHT
  </button>
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg shadow p-3 mt-3 mb-4 rounded" style="width: 250px" id="case-btn">
    CLOSE CASE
  </button>
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg shadow p-3 mt-3 mb-4 rounded" style="width: 250px">
    VIEW SUMMARY
  </button>
</div>


