<div class="w-100 d-flex justify-content-between border-top border-primary footer-color" >
  <button type="button" class="btn blue-background text-white font-weight-bold p-3 m-3 border-0" style="width: 250px" data-toggle="modal" data-target=".bd-example-modal-lg">
    PATIENT AGE/WEIGHT
  </button>
  <button type="button" class="btn blue-background btn-primary font-weight-bold shadow p-3 m-3 border-0" style="width: 250px">
    CLOSE CASE
  </button>
  <button type="button" class="btn blue-background btn-primary font-weight-bold shadow p-3 m-3 border-0" style="width: 250px">
    VIEW SUMMARY
  </button>
</div>


