<div class="w-100 d-flex justify-content-around border-top border-primary bg-light">
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg">CLOSE CASE</button>
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg">VIEW SUMMARY</button>
</div>

