<div class="w-100 d-flex justify-content-around border-top border-primary bg-light">
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg" style="width: 250px" data-toggle="modal" data-target=".bd-example-modal-lg">PATIENT AGE/WEIGHT</button>
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg" style="width: 250px">CLOSE CASE</button>
  <button type="button" class="btn btn-primary m-3 font-weight-bold btn-lg" style="width: 250px">VIEW SUMMARY</button>
</div>

