<div class="patient-information-card w-100 bg-white shadow blue">

  <div class="d-flex justify-content-center align-items-center text-center">
    <div class="pl-5 pr-5 w-25">
      <p class="font-weight-bold">AGE</p>
      <p class="border border-secondary rounded mb-2 blue-background text-white font-weight-bold" id="patient-age">18</p>
    </div>
    <div class="pl-5 pr-5 w-25">
      <p class="font-weight-bold">WEIGHT</p>
      <p class="border border-secondary rounded mb-2 blue-background text-white font-weight-bold flex-shrink-0" id="patient-weight">160</p>
    </div>
  </div>
</div>
