<div class="patient-information-card w-100 bg-white shadow">
  <p class="text-center font-weight-bold">PATIENT INFORMATION</p>
  <div class="d-flex justify-content-center align-items-center">
    <p>AGE: XX yo</p>
    <p>WEIGHT: XX kg</p>
  </div>
</div>
