<div class="patient-information-card w-100 bg-white shadow blue">

  <div class="d-flex justify-content-center align-items-center text-center">
    <div class="pl-5 pr-5">
      <p class="font-weight-bold">AGE</p>
      <p class="mb-2">18</p>
    </div class="pl-5 pr-5">
    <div>
      <p class="font-weight-bold">WEIGHT</p>
      <p class="mb-2">160</p>
    </div>
  </div>
</div>
