<div class="header-wrapper">
  <div>
    <div>
      <h2><%= current_admin.organization.name %></h2>
    </div>
    <div>
      <h5><%= current_admin.organization.location %></h5>
    </div>
    <div>
      <p class="py-2">Current Admin: <em><%= current_admin.email %></em></p>
    </div>
  </div>
  <div>
    <div>
      <% if current_admin.organization.photo.attached? %>
      <%= cl_image_tag current_admin.organization.photo.key, class: "avatar-large", alt: "avatar" %>
      <% else %>
      <p>Logo</p>
      <% end %>
    </div>
  </div>
</div>
