<div class="overview-card">
  <div>
    <div class="d-flex p-3 justify-content-between">
      <div>
        <h3 class="no-margin">Organization Details</h3>
        <p class="grey">as at <%= Time.now.strftime("%m/%d/%Y") %></p>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div></div>
  </div>
  <div class="d-flex px-5 justify-content-between margin-y">
    <div class="lg-inf">
      <p> <%= @organization.pediatric_cutoff %> </p>
      <p>Text</p>
    </div>
    <div class="lg-inf">
      <p></p>
    </div>
    <div class="d-flex">
      <div class="xs-inf">
        <p>Text</p>
      </div>
      <div class="xs-inf">
        <p>Text</p>
      </div>
      <div class="xs-inf d-flex justify-content-around">
        <div>
          <p>Text</p>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
