<div class="wrapper d-flex">
  <%= render 'sidebar' %>
  <div class="container-fluid">
    <div class="main-content">
      <%= render 'header' %>
      <%= render 'shared/admin/pt_scope_card' %>
    </div>
  </div>
</div>
