<div class="wrapper d-flex">
  <%= render 'sidebar' %>
  <div class="container-fluid">
    <%= render 'header' %>
    <div class="page-heading">
      <h3>Organization Overview</h3>
    </div>
    <div class="main-content">

    </div>
  </div>
</div>
