<div class="wrapper d-flex">
  <%= render 'sidebar' %>
  <div class="container-fluid">
    <div class="main-content">
      <%= render 'header' %>
      <div class="d-flex justify-content-around">
        <%= render '/shared/admin/small_cards_age' %>
      </div>
      <div>
        <%= render 'organizationOverview' %>
      </div>
    </div>
  </div>
</div>
