<div class="page-container">

  <div class="header-container">
    <%= render 'shared/paramedic/navbar', medic: @paramedic %>
  </div>

  <div class="patient-container">
    PATIENT INFORMATION
    AGE: XX yo
    WEIGHT: XX kg
  </div>


  <div class="active-container">
    ACTIVE DRUGS
  </div>

  <div class="search-container">
    <input type="text" id="myInput" placeholder="Search for drugs..">
  </div>

  <div class="queue-container">
    <% 5.times do %>
      <ul id="myUL">
        <% @drugs.order(:name).each do |drug| %>
          <li><a href="#"><%= drug.name %></a></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="footer-container">
    <%= render 'shared/paramedic/footer' %>
  </div>
</div>
