<div class="page-container">

  <div class="header-container">
    <%= render 'shared/paramedic/navbar', medic: @paramedic %>
  </div>

  <div class="patient-container px-2 py-1">
    PATIENT INFORMATION
    AGE: XX yo
    WEIGHT: XX kg
  </div>

  <div class="active-container px-2 py-1">
    <%= render 'shared/paramedic/active_drug', drug: @drugs.first %>
  </div>

  <div class="search-container px-2 pt-1">
    <input type="text" id="myInput" placeholder="Search for drugs..">
  </div>

  <div class="queue-container px-2 pb-1">
    <ul id="myUL">
      <% @drugs.order(:name).each do |drug| %>
        <li class="header-font"><a href="#"><%= drug.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="footer-container">
    <%= render 'shared/paramedic/footer' %>
  </div>
</div>
