<%= render 'shared/paramedic/navbar', medic: @paramedic %>

    <!-- MAIN CONTENT -->
    <div class="container-fluid p-0">

    <!-- DRUG LIST (SCROLL) -->
      <div class="row mt-5">
        <div class="col-sm-8 text-left">

        </div>

        <div class="col-sm-4 mt-4 scroll text-left">
          <input type="text" name="search" id="search"/>

          <div id="drug-list">
            <% @drugs.order(:name).each do |drug| %>
              <div class="m-0 border border-primary border-top-0 p-3 ">
                  <h4 class="m-0 font-weight-bold"><%= drug.name %></h4>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>

<%= render 'shared/paramedic/footer' %>

