.active-drug {
  border: 1px solid black;
  width: 100%;
  // height: 250px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "icon title calculation"
    "icon presentation calculation"
    "icon administration dose";
}

.ad-icon {
  grid-area: icon;
}
.ad-name {
  grid-area: title;
}

.ad-calculation {
  grid-area: calculation;
}

.ad-presentation {
  grid-area: presentation;
}

.ad-administration {
  grid-area: administration;
}

.ad-dose {
  grid-area: dose;
}

