.card {
background: #FFFFFF;
border: 1px solid $card-border;
border-radius: 8px;
}

.overview-card {
  max-width: 80vw;
  background: #FFFFFF;
  border: 1px solid $card-border;
  border-radius: 8px;
}

.lg-inf {
  width:25vw;
}

.sm-inf {
  width:15vw;
}

.xs-inf {
  width:10vw;
}

//please live
