@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

.mono-font {
  font-family: 'Inconsolata', monospace;
}

.body-font {
  font-family: 'Karla', sans-serif;
}

.header-font {
  font-family: 'Karla', sans-serif;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.logo-font {

}
