body {
  height: 100vh;
  width: 100vw;
}

.page-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header header"
    "active active active queue"
    "footer footer footer footer";
}

.header-container {
  grid-area: header;
}

.active-container {
 grid-area: active;
}

.queue-container {
  grid-area: queue;
}

.footer-container {
  grid-area: footer;
}

