body {
  height: 100%;
  width: 100%
}

.header-container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  overflow: hidden;
}

.main-container {
  position: absolute;
  top: 66px;
  left: 0px;
  right: 0px;
  bottom: 80px;
  overflow: auto;
}

.footer-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  overflow: hidden;
}
