// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }


.navbar-paramedic {
  background: linear-gradient(45deg, rgba(72,74,76,1) 0%, rgba(40,41,47,1) 100%);
  color: $sidebar-text-active;
}

.rd-logo-blue {
  color:$rd-logo-blue;
}

.height {
  height: 15%;
}

