.card {
background: #FFFFFF;
border: 1px solid $card-border;
border-radius: 8px;
}

<<<<<<< HEAD
.overview-card {
  max-width: 80vw;
  background: #FFFFFF;
  border: 1px solid $card-border;
  border-radius: 8px;
}

.lg-inf {
  width:25vw;
}

.sm-inf {
  width:15vw;
}

.xs-inf {
  width:10vw;
}
=======
// ADMIN CARDS

// PARAMEDIC CARDS

.drug-queue-card {
  padding: 5px;
  border: 1px solid black;
}


// create variables
>>>>>>> af46e857a4ca8536704f83f5e232b5286b051b2d
