.card {
background: #FFFFFF;
border: 1px solid #DFE0EB;
border-radius: 8px;
}

// ADMIN CARDS

// PARAMEDIC CARDS

.drug-queue-card {
  padding: 5px;
  border: 1px solid black;
}


// create variables
