.small-form {
  width:500px;
  height:500px;
  margin: 0 auto;
}

.inline {
  display:inline-block;
}

.md-margin-btm {
  margin-bottom:16px;
}

.grey-btm-border {
  border-bottom:1px solid #7b7c88;
}

.no-deco {
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}
