.wrapper {
  display:flex;
  max-width:100vw;
}

.small-form {
  width:500px;
  height:500px;
  margin: 0 auto;
}

.inline {
  display:inline-block;
}

.md-margin-btm {
  margin-bottom:24px;
}

.margin-y {
  margin: 24px 0px;
}

.no-margin {
  margin:0;
}

.margin-tp {
  margin-top:24px;
  margin-bottom:8px;
}

.no-btm-margin {
  margin-bottom:0;
}
.grey-btm-border {
  border-bottom: 1px solid $card-border;
}

.no-deco {
  text-decoration:none;
  &:hover {
    text-decoration:none;
  }
}

.main-content {
  padding:24px;
  width:78vw;
  margin:0 auto;
}

.grey {
  color: $sidebar-text;
}

.md-padding-bottom {
  padding-bottom: 50px;
}
