<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Pediatric Age Limits</h5>
    <p class="card-subtitle"><small class="text-muted"> as of 25 May 2019, 19:00</small></p>
    <br>
    <h6 class="card-subtitle font-weight-bold">Age Limit Cutoffs</h6>
  </div>
<!--   <ul class="list-group list-group-flush mt-0">
    <li class="list-group-item"> <h6 class="card-text font-weight-bold">Age Limit Cutoffs</h6></li>
    <li class="list-group-item">Pediatric</li>
    <li class="list-group-item">Infant</li>
  </ul> -->
<!--   <div class="card-body">
    Pediatric
  </div>
  <div class="card-body">
    Infant
  </div>
  <div class="card-body">
    Newborn
  </div> -->
</div>
