<div class="card" style="width: 35rem; height: 20rem;">
  <div class="card-body">
    <h5 class="card-title font-weight-bold">Critical Care Paramedic</h5>
    <p class="card-subtitle"><small class="text-muted">CCP</small></p>
  </div>
  <br>
  <ul class="list-group list-group-flush border-bottom-0">
    <li class="list-group-item">
    </li>
    <li class="list-group-item" style="height: 5rem;">
      <button type="button" class="card-button btn btn-success btn-sm float-right" style="width: 10rem;">Operational</button>
      <p class="card-text">7 Interventions</p>
    </li>
  </ul>
  <div class="card-body">
    <div class="float-right">
      <button type="button" class="card-button btn btn-secondary btn-sm" style="width: 10rem;">No Changes</button>
    </div>
    <p class="card-text">0 Pending Changes</p>
  </div>
</div>
