<div class="overview-card">
  <div>
    <div class="d-flex p-3 justify-content-between">
      <div>
        <h3 class="no-margin">Scopes List</h3>
        <p class="grey">as at <%= Time.now.strftime("%m/%d/%Y") %></p>
      </div>
      <div class="d-flex">
        <div class="search-form">
          <input class="form-control main-form" type="text" placeholder="Search" aria-label="Search">
        </div>
      </div>
    </div>
    <div class="d-flex px-4 justify-content-between grey-btm-border">
        <div class="lg-inf">
          <p class="grey">User Information</p>
        </div>
        <div class="lg-inf">
          <p class="grey">Medal No</p>
        </div>
        <div class="sm-inf float-left">
          <p class="grey">Skill Level</p>
        </div>
        <div class="sm-inf float-left">
          <p class="grey">Date</p>
        </div>
        <div class="sm-inf">
          <p class="grey">Status</p>
        </div>
    </div>
      <div class="row">
      <% types_array.each do |type | %>
        <div class="d-flex col-md-6 justify-content-around margin-tp">
            <%= render "shared/admin/scope_card", type: type %>
        </div>
      <% end %>
      </div>
  </div>
</div>
