<div class="card" style="width: 30rem;">
  <div class="card-body">
    <p class="float-right"><%= link_to 'View All', root_path%></p>
    <h5 class="card-title font-weight-bold">Pediatric Weight Limits</h5>
    <p class="card-subtitle"><small class="text-muted"> as of 25 May 2019, 19:00</small></p>
  </div>
  <ul class="list-group list-group-flush border-bottom-0">
    <li class="list-group-item">
      <i class="fas fa-plus-square float-right"></i>
      <h6 class="card-text font-weight-bold">Age Weight Calculation</h6>
    </li>
    <li class="list-group-item" style="height: 5rem;">
      <h6 class="card-text">Age x 3 + 7</h6>
      <i class="fas fa-pencil-alt float-right"></i>
      <p class="card-text"><small class="text-muted">12 years or less</small></p>
    </li>
    <li class="list-group-item" style="height: 5rem;">
      <h6 class="card-text">Neonate</h6>
      <i class="fas fa-pencil-alt float-right"></i>
      <p class="card-text"><small class="text-muted">3.5kg</small></p>
    </li>
  </ul>
  <div class="card-body">
    <h6 class="card-text">6 months</h6>
    <i class="fas fa-pencil-alt float-right"></i>
    <p class="card-text "><small class="text-muted">7 kg</small></p>
  </div>
</div>
