<div class="card" style="width: 30rem;">
  <div class="card-body">
    <p class="float-right"><%= link_to 'View All', root_path%></p>
    <h5 class="card-title font-weight-bold">Pediatric Age Limits</h5>
    <p class="card-subtitle"><small class="text-muted"> as of 25 May 2019, 19:00</small></p>
  </div>
  <ul class="list-group list-group-flush border-bottom-0">
    <li class="list-group-item">
      <i class="fas fa-plus-square float-right"></i>
      <h6 class="card-text font-weight-bold">Age Limit Cutoffs</h6>
    </li>
    <li class="list-group-item" style="height: 5rem;">
      <h6 class="card-text">Pediatric</h6>
      <i class="fas fa-pencil-alt float-right"></i>
      <p class="card-text"><small class="text-muted">12 years or less</small></p>
    </li>
    <li class="list-group-item" style="height: 5rem;">
      <h6 class="card-text">Infant</h6>
      <i class="fas fa-pencil-alt float-right"></i>
      <p class="card-text"><small class="text-muted">1 year or less</small></p>
    </li>
  </ul>
  <div class="card-body">
    <h6 class="card-text">Newborn</h6>
    <i class="fas fa-pencil-alt float-right"></i>
    <p class="card-text "><small class="text-muted">less than 24 hours</small></p>
  </div>
</div>
