<div class="wrapper d-flex">
  <%= render '/dashboards/sidebar' %>
  <div class="container-fluid">
    <div class="main-content">
    <%= render '/dashboards/header' %>
      <%= render 'ruleCard' %>
    </div>
  </div>
</div>
